
body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #000000, #1a2a6c, #4b79a1);
    background-size: cover;
    color: white;
    font-family: 'Arial', sans-serif;
}


.herosection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: black; 
    border-radius: 10px;
    box-shadow: 0 4px 15px black;
}


.herosection h2 {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 0.5rem;
}


.herosection h1 {
    font-size: 80px;
    color: #4fc3f7;
    background: linear-gradient(90deg, #4fc3f7, #0288d1);
    background-clip: text;
    color: transparent;
    margin-top: 0;
    text-shadow: 2px 2px 5px black;
}


.herosection p {
    font-size: 20px;
    color: #f0f8ff;
    margin: 1rem 0 2rem;
}


.get-started {
    width: 220px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background: linear-gradient(to right, #fbbf24, #fcd34d);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 4px 10px black;
    transition: all 0.3s ease;
}


.get-started:hover {
    background: linear-gradient(to right, #fcd34d, #fbbf24);
    transform: scale(1.25);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}
.div.html{
    background-color: #1e1e1e;
    width: 200px;
    height: 500px;
}